*{
    margin: 0;
    padding: 0;
}
.navbarprod{
    background-color:blueviolet;
    height: 52px;
   }
   .navbarprod nav ul{
       display: flex;
   }
   .navbarprod nav ul li{
       list-style: none;
       margin: 15px 0;
       padding: 0 20px ;
   }
   .navbarprod nav ul li a{
       font-family: 'Nunito Sans', sans-serif;
       text-decoration: none;
       color: black;
   }
   .navbarprod nav ul li a:hover{
       cursor: pointer;
       color: white;
   }
   .logo{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-family: 'Ubuntu', sans-serif;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    padding: 13px;
    padding-left: 1120px;
}
.btn:hover{
    background-color: blueviolet;
    color: black;
    cursor: pointer;
}
.btn{
    margin-right: 5px;
    padding: 3px 6px;
    background-color: black;
    color: blueviolet;
    border: 2px solid;
    border-radius: 8px;
}
.btnsec:hover{
    background-color: blueviolet;
    color: black;
    cursor: pointer;
}
.btnsec{
    margin-right: 15px;
    padding: 3px 6px;
    background-color: black;
    color: blueviolet;
    border: 2px solid;
    border-radius: 8px;
}
.line{
    height: 2px;
    background-color: black;

}
.my-1{
    margin: 0 40px;
}
.my-2{
    margin: 20px 0;
    font-family: 'Karla', sans-serif;
    background-color: black;
    color: white;
}
.card{
    margin: auto;
    max-width: 95vw;
}
.card-items{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 40px;
}
.lines{
    margin: 0 73px;
}