@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(231, 224, 224);
}
.navbar{
 background-color:blueviolet;
 height: 700px;
}
.navbar nav ul{
    display: flex;
}
.navbar nav ul li{
    list-style: none;
    margin: 15px 0;
    padding: 0 20px ;
}
.navbar nav ul li a{
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: black;
}
.navbar nav ul li a:hover{
    cursor: pointer;
    color: white;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    font-family: 'Ubuntu', sans-serif;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: -40px;
    padding: 13px;
    padding-left: 1120px;
}
.btn:hover{
    background-color: blueviolet;
    color: black;
    cursor: pointer;
}
.btn{
    margin-right: 5px;
    padding: 3px 6px;
    background-color: black;
    color: blueviolet;
    border: 2px solid;
    border-radius: 8px;
}
.btnsec:hover{
    background-color: blueviolet;
    color: black;
    cursor: pointer;
}
.btnsec{
    margin-right: 15px;
    padding: 3px 6px;
    background-color: black;
    color: blueviolet;
    border: 2px solid;
    border-radius: 8px;
}
.container{
    display: flex;
    justify-content: center;
    padding: 110px ;
    font-family: 'Ubuntu', sans-serif;
}
.topic h1{
    display: flex;
    justify-content: center;
    font-size: 75px;
}
.topic h2{
    display: flex;
    justify-content: center
}
.mid{
    background-color:rgb(231, 224, 224) ;
    height: 200px;
}
.image{
    display: flex;
    justify-content: center;
}
footer{
    background-color: black;
    color:blueviolet;
    height: 12vh;
    font-family: 'Montserrat', sans-serif;
}
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}